html, body{
	font-family: Arial, sans-serif;
	margin: 0;
	background-color: lightgrey;
}
header{
	background-color: #00004C;
	background-size: 200px;
	background-image: url('../img/pixel-image-100.jpg'); ;
	background-repeat: repeat;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
	text-shadow: 0 4px 20px black;
}
h2{
	color: red;
}
header img{
	border-radius: 174px;
	width: 300px;
	border: 24px solid white;
	box-shadow: 0 10px 20px black;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding:30px 20px;
	text-align: center;
}
img.big-image{
	max-width: 100%
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}
ol{
	list-style: none;
}
a{
	color:red;
	text-decoration: none;
}
footer{
	margin-top: 20px;
	padding:40px 20px;
	background-color: #E6E6E6;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline;
	margin:0 5px;
}
/*Top nav bar*/
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: red;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*ends here*/
/*for hovering text on image*/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#ff9999;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*text hovering on image style ends here*/
/* images side by side */
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*ends here*/