html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}
header{
	background-color: #00004C;
	padding: 40px;
	text-align: center;
}
h1{
	font-size: 90px;
	color: white;
}
header img{
	border-radius: 174px;
	width: 300px;
	border: 24px solid #CC0000;
}
.content{
	max-width: 900px;
	margin: 0 auto;
	padding:20px 20px;
}
img.big-image{
	max-width: 100%
}
p.caption{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}
ul{
	list-style: none;
	padding:0;
	margin: 0;
}
a{
	color:red;
	text-decoration: none;
}
footer a{
	color: white;
}
footer{
	margin-top: 20px;
	padding:40px 20px;
	background-color: #CC0000;
}
footer ul{
	text-align: center;
}
footer ul li{
	display: inline;
	margin:0 5px;
}
/*Top nav bar*/
* {box-sizing: border-box}
body {font-family: Arial, Helvetica, sans-serif;}

.navbar {
  width: 100%;
  background-color: #CC0000;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #00004C;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}
/*ends here*/
/*for hovering text on image*/
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:#00004C;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* images side by side */
* {
  box-sizing: border-box;
}

.img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*ends here*/
/*text hovering on image style ends here*/
/*		<img src="img/profile.jpg">
		<h1>Wreck-It Ralph</h1>
	</header>*/