html, body{
  font-family:garamond, serif;
  margin: 0;
  background-color: #f2e6ff;
}
header{
  background-color: #00004C;
  background-image: url('../img/header.jpg');
  padding: 40px;
  text-align: center;
  background-size: 100%;
}
h1{
  font-size: 100px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}
header img{
  border-radius: 174px;
  width: 300px;
}
.content{
  max-width: 900px;
  margin: 0 auto;
  padding:20p 20px;
}
.gallery{
  max-width: 900px;
  margin: 0 auto;
  padding:20p 20px;
}
img.big-image{
  max-width: 100%
}
img.pascal{
  float: left;
}
p.caption{
  font-size: 16px;
  color: grey;
  font-style: italic;
}
}
ol{
  list-style: none;
}
a{
  color:#800080;
  text-decoration: none;
}
a:hover{
  background-color: #ffff4d;
}
footer a{
  color: white;
  text-decoration: underline;
}
footer{
  margin-top: 20px;
  padding:40px 20px;
  background-color:  #800080;
}
footer ul{
  text-align: center;
  color: white;
}
footer ul li{
  display: inline;
  margin:0 5px;
}
li{
  margin: 5px 0;
  padding:5px;
  border-radius: 10px;
}
h2{
  color:#800080;
  background-color: #ffff4d;
  text-align:center;
}
/*Top navigation bar*/
  * {box-sizing: border-box}
  body {font-family: Arial, Helvetica, sans-serif;}

  .navbar {
    width: 100%;
    background-color: #800080;
    overflow: auto;
  }

  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
  }

  .navbar a:hover {
    background-color: #ffff4d;
  }

  .navbar a.active {
    background-color: #ffff4d;
  }

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }
/*ends here*/
/*for hovering text on image*/
  .container {
    position: relative;
    width: 100%;
  }

  .image {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 20px;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#800080;
  }

  .container:hover .overlay {
    opacity: 1;
  }

  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/*hovering text over image ends here*/




/* images side by side */
  * {
    box-sizing: border-box;
  }

  .img-container {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
/*ends here*/

/*image gallery*/

  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color:  #800080;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 0px 0px 0;
    user-select: none;
    -webkit-user-select: none;
  }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }


  /* Number text (1/3 etc) */
  .numbertext {
    color:  #800080;
    font-size: 12px;
    padding: 8px 12px;
    top: 0;
  }




  img {
    vertical-align: middle;
  }


  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #800080;
    padding: 2px 16px;
    color: white;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }

  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }

  .active,
  .demo:hover {
    opacity: 1;
  }
/*image gallery ends here*/
