body{
	background-color: lightgrey;
} 

		h1{
		color:orange;
		font-size:90px;
		text-decoration: underline;
		}
		h2{
			font-size: 60px;
			color:green;
		}
		#first{
			font-size: 150px;
		}
		.small{
			font-size:12px;
		}
		span{
			font-style: italic
		}
		h2 span{
			text-decoration: line-through;
		}
	</style>